#global-button-cont {
  background-color: rgba(42, 168, 255, 1);
  border-radius: 8px;
  height: 40px;
  border: none;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
}