.navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  padding: 40px;
  position: sticky;
  /* border: 2px solid red; */
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-container>ul>li {
  padding: 0 0.5rem 0 0.5rem;
  font-size: 0.8rem;
}

.menu-container>#my-bookings {
  background-color: rgba(42, 168, 255, 1);
  border-radius: 8px;
  height: 40px;
  border: none;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;

}

/* 
* {
  border: 2px solid red;
} */

.top-text-container {
  background-color: rgba(42, 167, 255, 1);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  color: white;
}